{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
{% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            <img src="../../static/images/register.jpg">
          </div>
          <div class="card-body p-6 p-sm-5" >
            <h5 class="card-title text-center mb-5 fw-light fs-5" style="font-family: farhang">ورود</h5>
            <form method="POST">
                  {% csrf_token %}

              <div class="form-floating mb-3" style="text-align: right">

                <label for="floatingInputUsername" style="text-align: right;font-family: vazir">نام کاربری</label>
                  <br>
                  <br>
                           {{ form.username }}
              </div>

              <hr>

              <div class="form-floating mb-3" style="text-align: right">

                <label  style="text-align: right;font-family: vazir">پسورد</label>
                       <br>
                  <br>
                   {{ form.password }}
              </div>

                <br>
                <br>
                <br>

              <div class="form-group">
          <button class="btn btn-outline-info" type="submit"  style="font-family: farhang;font-size: 16px">
            ورود

          </button>
        </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<style>
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(45deg, #304FFE 50%, #EEEEEE 50%);
    background-repeat: no-repeat
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 10px
}

.card1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.logo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 25px
}

.image {
    width: 300px;
    height: 300px
}

.card2 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

.login {
    cursor: pointer
}

.fa-google {
    background-color: #fff;
    color: #df4b37;
    padding: 10px 12px;
    font-size: 20px
}

.fa-facebook {
    background-color: #fff;
    color: #3b5998;
    padding: 10px 15px;
    font-size: 20px
}

.google {
    background-color: #df4b37;
    color: #fff;
    padding: 3px 0px 3px 3px;
    border-radius: 2px;
    cursor: pointer
}

.fb {
    background-color: #3b5998;
    color: #fff;
    padding: 3px 0px 3px 3px;
    border-radius: 2px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%
}

.text-sm {
    font-size: 14px !important
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #ECEFF1
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}


</style>

{% endblock %}