{% extends "base/base.html" %}
{% block content %}
<br>
    <br>

    <br>
    <br>
<div style="width:60%;margin-left: 20%;">
        <h2 style="font-family: farhang;text-align: right"> خارج شدی که :(</h2>
      <div class="border-top pt-3">
        <small class="text-muted" style="font-family: farhang;font-size: 16px">میخوای وارد بشی؟
            <a class="ml-2" href="{% url 'login' %}" style="font-size: 16px;font-family: farhang">
            ورود
          </a>
        </small>
      </div>
</div>



{% endblock content %}

