{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                            <a class="active" href="{% url 'shop' shop.slug %}" style="font-size: 28px;font-family: farhang;text-align: right">
                                       <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="50" height="50" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
  <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
</svg>
                                {{ shop.title }}
                            
                     </a>

                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="{% static 'img/add.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->
    {% if own %}
          <div class="container">
                 <form method="POST">
        {% csrf_token %}
             {{ form2|crispy }}
                     <br>

              <div class="form-group" style="text-align:left">
                  <button class="btn btn-outline-warning" type="submit"  style="font-family: farhang;font-size: 16px" name="action" value="change">
                    تغییر این محصول

                  </button>
                           <button class="btn btn-outline-danger" type="submit"  style="font-family: farhang;font-size: 16px" name="action" value="delete">
                    حذف این محصول

                  </button>
            </div>
              </form>


          </div>
    {% endif %}
    <!-- Product Page Section Beign -->
    <section class="product-page">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">

                        <div class="product-img">
                            <figure>
                                <img src="{{ product.photo.url }}" alt="" style="width: 540px;height: 630px;border-radius: 15px">

                            </figure>
                        </div>
                     {% if product.photo_2 %}
                        <div class="product-img">
                            <figure>
                                <img src="{{ product.photo_2.url }}" alt=""  style="width: 540px;height: 630px;border-radius: 15px">

                            </figure>
                        </div>
                    {% endif %}

                    {% if product.photo_3 %}

                        <div class="product-img">
                            <figure>
                                <img src="{{ product.photo_3.url }}" alt=""  style="width: 540px;height: 630px;border-radius: 15px">

                            </figure>
                        </div>
                        {% endif %}
                    {% if product.photo_4 %}
                                  <div class="product-img">
                            <figure>
                                <img src="{{ product.photo_4.url }}" alt=""  style="width: 540px;height: 630px;border-radius: 15px">

                            </figure>
                        </div>
  {% endif %}
                {% if product.photo_5 %}
                                  <div class="product-img">
                            <figure>
                                <img src="{{ product.photo_5.url }}" alt=""  style="width: 540px;height: 630px;border-radius: 15px">

                            </figure>
                        </div>
                        {% endif %}
                     {% if product.photo_6 %}

                                  <div class="product-img">
                            <figure>
                                <img src="{{ product.photo_6.url }}" alt=""  style="width: 540px;height: 630px;border-radius: 15px">

                            </figure>
                        </div>
                        {% endif %}
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                        <h2 style="font-family: vazir;text-align: right">
                            {{ product.name }}
                            <svg xmlns="http://www.w3.org/2000/svg" style="color:green" width="50" height="50" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
</svg>
                            </h2>
                         <div class="rating" style="text-align:left">
                                 {% for i in score_list %}
			                <i class="fa fa-star" style="color:#F0A500;font-size:20px"></i>
                                {% endfor %}
                                    {% for x in left_list %}
                                           <i class="fa fa-star-o" style="color:#F0A500;font-size:20px"></i>
                                {%  endfor %}
                            </div>
                    <hr>
                        <div class="pc-meta" style="text-align:right">
                                            

                            <h5 style="font-family: vazir;color:green;text-align: right;margin-bottom:1%">
                                
                                قیمت نهایی|{{product.last_comma}}|تومان
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
  <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
</svg>
                                </h5>
                           <del style="font-family: vazir;color: grey;text-align: right;">قیمت اولیه|{{product.price_comma}}|تومان</del>
                           <h5 style="font-family: vazir;color: #F0A500;text-align: right;margin-bottom:1%;margin-top:1%">%{{ product.off }}|تخفیف
                           
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
  <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
</svg>
                           </h5>
                            <ul class="tags" style="margin-bottom:1%">
                            <li style="font-family: vazir;text-align: right"><span>دسته بندی: </span>{{ product.category }}
                            
                            <svg xmlns="http://www.w3.org/2000/svg" style="color:blue" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
  <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
  <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
</svg>
                            </li>
                           </ul>
                            <p style="text-align: right;font-family: vazir;font-size:16px;margin-bottom:1%">توضیحات: <span>{{ product.details }}
                            
                            <svg style="color:purple" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
</svg>
                            </span></p>
                  
              

                        </div>
             
                         <!--<p style="text-align: right;font-family: vazir;font-size:16px">-->
                         <!-- {{shop.seller_info}}-->
                         <!--    </p>-->
             

                     {% if product.in_stock %}
                            <div class="col-md-12">
                                <p style="color: #000;font-family: farhang;font-size: 16px;text-align: right">موجود
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg>
                                </p>
                            </div>

                            {% else %}
                              	<div class="col-md-12">
                                    <p style="color: #000;font-family: farhang;font-size: 16px;text-align: right"> 
                                    
                                ناموجود
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-dash" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg>
                                
                                </p>
                                </div>
                            {% endif %}

                       {% if any %}


                 <form method="POST">
        {% csrf_token %}
             {{ form2|crispy }}
                     <br>
         {% if product.in_stock %}
              <div class="form-group">
                  <button class="btn btn-outline-success" type="submit"  style="font-family: farhang;font-size: 16px" name="action" value="add_cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                    اضافه به سبد خرید

                  </button>
            </div>
            {% endif %}
              </form>
             


        {% else %}
        <p style="font-size: 16px;text-align: center;color: red;font-family: farhang">برای اضافه کردن به علایق وارد شوید</p>
{% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Page Section End -->

<section class="page-add" style="margin-bottom:0px">
        <div class="container">
            <h2 style="font-family: farhang;text-align: center"><svg style="color:red" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
</svg>
            نظرات شما
            </h2>

                <hr>
        </div>
    </section>

        {% if comments %}
<div class="container mt-6 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-12" style="color:black">

            <div class="coment-bottom bg-white p-2 px-4">

                {% for comment in comments %}
                     <div class="commented-section mt-2">
                    <div class="d-flex flex-row align-items-center commented-user" style="color:black">
                        <h3 class="mr-2" style="font-family: vazir;font-size: 19px">{{ comment.feedbacker }}</h3>
                    <h4>|</h4>
                        <span style="font-size: 16px;font-family: vazir;color:balck" class="mb-1 ml-2">{{ comment.jpublish }}</span>
                          <h4>|</h4>
                             {% for i in comment.stars %}

                            <i class="fa fa-star"  style="color:#F0A500;font-size: 20px"></i>

                         {% endfor %}

                          {% for i in comment.stars_left %}
                                <i class="fa fa-star-o" style="color:#F0A500;font-size: 20px"></i>

                         {% endfor %}
                    </div>
                    <div class="comment-text-sm" style="text-align: right;font-family: vazir;font-size: 16px">
                        {{ comment.content }}
                    </div>


                </div>
                    <hr>
            {% endfor %}



            </div>
        </div>
    </div>
</div>
        {% else %}
        <p style="font-family: vazir">
            فعلا کامنتی نداریم :(
        </p>
        {% endif %}



{% if add_comment %}
    <div class="container contact-form">
           <div class="contact-image" style="text-align: center">
                <img style="width:100px;height:100px" src="{% static 'images/rocket.png' %}" alt="rocket_contact"/>
            </div>
              <form method="POST" style="direction: rtl;font-family: vazir">
        {% csrf_token %}
                       <h3 style="font-family: farhang;text-align: center">ثبت نظر</h3>

             {{ form|crispy }}

                  <br>


              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit"  style="font-family: farhang;font-size: 16px" name="action" value="comment">
                    ثبت نظر

                  </button>
            </div>
              </form>
       </div>

        {% endif %}



 {% if related_products %}
    
    <section class="page-add" style="margin-bottom:0px">
        <div class="container">
 <h3 style="font-family: farhang;font-size: 32px">  <svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg> محصولات مشابه</h3>
<br>

                        </div>
               
    <hr>
        </div>
    </section>
    <!--background-image: url({% static 'img/purple.png' %});-->
   <div class="logo-section spad" style="padding-top: 0px;">
        <div class="logo-items owl-carousel">

 {% for x in related_products %}
                   
                        
                        <div class="card">
                            
                            <a class="img-card" href="{% url 'product-details' shop.slug x.pk %}">
                            <img src="{{ x.photo.url }}" style="border-radius:15px" />
                                <div class="top-left" style="background-color:red;border-radius:15px;padding:1%;color:white">{{ x.off }}%</div>
                                     <div class="top-right" style="background-color:white;border-radius:15px;padding:1%;color:white">
                                          {% for z in x.stars %}
                                  <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
                            {% endfor %}


                         {% for z in x.stars_left %}
            <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>

                            {% endfor %}


   {% if x.verified %}
                                            <svg style="color: cornflowerblue" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                        </svg>
{% endif %}

                                     </div>
                          </a>
                          <div class="product-text" style="text-align:center">
                            <h6 style="font-family: vazir;text-align:center;">{{ x.name }}</h6>

                            <p style="color: green;font-family: vazir;text-align:center;font-size:18px;font-weight: 700;;margin-bottom:0px">{{ x.last_price|floatformat }}|تومان</p>
                            <del style="color: grey;font-family: vazir;text-align:center">{{ x.price }}|تومان</del>
                        </div>
                         
                        </div>
             
 {% endfor %}
                
        </div>
    </div>

    {% endif %}






    <style>

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #ECEFF1
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
    </style>

{% endblock %}
